.font-family-1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-family-2 {
    font-family: Arial, Helvetica, sans-serif;
}
.font-family-3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.font-family-4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font-family-5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.font-family-6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.font-family-7 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.font-family-8 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font-family-9 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* font-size */
.font-size-1 {
    font-size: small;
}
.font-size-2 {
    font-size: x-small;
}
.font-size-3 {
    font-size: medium;
}
.font-size-4 {
    font-size: large;
}
.font-size-5 {
    font-size: x-large;
}

/* font-weight */
.font-weight-1 {
    font-weight: normal;
}
.font-weight-1 {
    font-weight: lighter;
}
.font-weight-1 {
    font-weight: bold;
}
.font-weight-1 {
    font-weight: bolder;
}

