/* text-align */
.text-align-1 {
  text-align: center;
}
.text-align-2 {
  text-align: justify;
}
.text-align-3 {
  text-align: right;
}
.text-align-4 {
  text-align: left;
}

/* line-height  */
.line-height-1 {
  line-height: normal;
}
.line-height-2 {
  line-height: initial;
}

/* letter-spacing  */
.letter-spacing-1 {
  letter-spacing: inherit;
}
.letter-spacing-2 {
  letter-spacing: unset;
}
.letter-spacing-3 {
  letter-spacing: 4px;
}

/* word-spacing  */
.word-spacing-1 {
  word-spacing: inherit;
}
.word-spacing-2 {
  word-spacing: unset;
}
.word-spacing-3 {
  word-spacing: 5px;
}

/* text-decoration */
.text-decoration-1 {
  text-decoration: turquoise;
}
.text-decoration-2 {
  text-decoration: unset;
}
.text-decoration-3 {
  text-decoration: solid;
}
.text-decoration-3 {
  text-decoration: underline;
}

/* text-shadow */
.text-shadow-1 {
  text-shadow: transparent;
  text-shadow: 3px 6px 20px black;
}
.text-shadow-2 {
  text-shadow: 3px 6px 20px black;
}
.text-shadow-3 {
  text-shadow: 3px 6px 13px white;
}
